{% block stylesheets %}
  <script src="https://use.fontawesome.com/ffb1fe552d.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="{{ url_for('static', filename='vis@4.17.0/dist/vis-network.min.css') }}" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" type="text/css">
{% endblock %}
{% block head %}
<head>
  <title>Network Visualization</title>
</head>
{% endblock %}
{% block body %}
<h1>Network Visualization</h1>
<div id="visualizer-wrapper" class="d-flex justify-content-between align-items-stretch">
  <aside id="sidebar">
    <button id="refresh" onclick="window.location.reload();">Refresh</button>
    <div id="settings-pane" class="sidebar-pane">
      <h2>Settings</h2>
      <div class="sub-pane">
        <h3>Degree</h3>
          <input type="number" id="degree" name="degree" min={{degree_min}} max={{degree_max}} placeholder={{degree_placeholder}}>
      </div>
      <div class="sub-pane">
        <h3>Trial Maker ID</h3>
        <form action="index" method="get">
          <select name="trial-maker-id" id="trial-maker-id" onchange=this.form.submit()>
            {% for trialmaker_option in trialmaker_options %}
              <option value={{trialmaker_option}}>{{trialmaker_option}}</option>
            {% endfor %}
          </select>
      </form>
      </div>
      <div class="sub-pane">
        <h3>Show Infos</h3>

        <input type="checkbox" id="show-infos" name="show-infos" {{show_infos_checked}}>
      </div>
      <div class="sub-pane">
        <h3>Graph Seed</h3>
        <input type="number" id="seed" name="seed" min=0>
      </div>
      <div class="sub-pane">
        <h3>Physics Solver</h3>
        <select name="solver" id="solver">
          {% for solver_key in solver_options%}
            <option value={{solver_key}} id="{{solver_key}}-select"
                {% if selected_solver == solver_key %}
                selected
                {% endif %}>
                {{solver_options[solver_key]}}
            </option>
          {% endfor %}
        </select>
      </div>
      <div class="sub-pane">
        <h3>Node Layout Option</h3>
        <select name="layout" id="layout">
          {% for layout_key in layout_options %}
              <option value={{layout_key}}
                      id="{{layout_key}}-select"
                      {% if selected_layout == layout_key %}
                        selected
                      {% endif %}
                      data-seed=
                      {% if layout_options[layout_key]['has_seed'] == True %}
                        "use-seed"
                      {% else %}
                        "none"
                      {% endif %}
                      >
                        {{layout_options[layout_key]['name']}}
              </option>
          {% endfor %}
        </select>
      </div>
      <div class="sub-pane">
        <h3>Show:</h3>
        <div id="show-radio-container">
          <input type="radio" name="show-radio" id="show-radio-incoming" value="incoming"{% if "incoming" == show_nodes_option %}checked{% endif %}> <label for="show-radio-incoming">Incoming nodes only</label><br>

          <input type="radio" name="show-radio" id="show-radio-outgoing" value="outgoing"{% if "outgoing" == show_nodes_option %}checked{% endif %}> <label for="show-radio-outgoing">Outgoing nodes only</label><br>

          <input type="radio" name="show-radio" id="show-radio-connected" value="connected"{% if "connected" == show_nodes_option %}checked{% endif %}> <label for="show-radio-connected">Connected nodes only</label><br>

          <input type="radio" name="show-radio" id="show-radio-all" value="all"{% if "all" == show_nodes_option %}checked{% endif %}> <label for="show-radio-all">All nodes</label><br>
        </div>
        </div>
    </div>
    <div id="search-pane" class="sidebar-pane">
      <input type="number" id="find-by" placeholder="Find Node By Vertex ID" min={{find_min}} max={{find_max}}>
    </div>
  </aside>
  <main class="flex-fill">
    <section id="mynetwork">
      <h2>Graph</h2>
      <div id="graph"> {{ graph | safe }} </div>
    </section>
    <section id="details-pane">
      <h2>Details</h2>
      <div id="element-details">
        <div id="details-content">
          {%for para in content %}
            {{para}}<br>
          {% endfor %}
        </div>
          <input type="text" id="clicked-node-input" name="clicked-node" style="display:none">
      </div>
    </section>
  </main>
  <script src=
   "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>
  <script>
    'use strict';

    function handleGraphResponse(response) {
      $('#mynetwork').html(response);

      // validations
      let validClickedNode = validateEnabledSettings();
      if (!validClickedNode) {
        clickedNodeUpdateRequest();
      }
      $('#seed').attr("placeholder", $('#seed').val());
      $('#seed').val('');
    }

    function handleContentResponse(response) {
      $('#details-content').html(response);
    }

    let cookieRequest = null;

    function setCookieRequest(clickedNode) {

      if (cookieRequest != null ) { cookieRequest.abort(); }

      cookieRequest = $.ajax(
          {
            type:'GET',
            url: '/setclickednode?id=' + clickedNode
          }
        )
    }

    function handleClickedNodeUpdateResponse(clickedNode) {
     document.getElementById("clicked-node-input").value = clickedNode;
     validateEnabledSettings();
    }

    function clickedNodeUpdateRequest() {
      /* send a request to update the clicked node to reflect the
        same vertex in the new degree/trial_maker_id */
        let degree = encodeURIComponent($('#degree').val());
        let exp = (document.cookie
          .split('; ')
          .find((row) => row.startsWith('exp='))
          ?.split('=')[1]);
        let url = '/updateclickednode?graph_id=' + encodeURIComponent(document.getElementById("clicked-node-input").value) + '&degree=' + degree + '&trial_maker_id=' + exp;

        if (graphRequest != null) {
          graphRequest.abort();
        }
        graphRequest = $.ajax(
          {
            type: 'GET',
            url: url,
            success: handleClickedNodeUpdateResponse,
            error: () => { document.getElementById("clicked-node-input").value = ""; }
          }
        )
    }

    let graphRequest = null;

    function validateEnabledSettings() {
      // seed
      if ($('#layout').find(":selected").attr('data-seed') == "use-seed") {
        $('#seed').removeAttr("disabled");
      }
      else {
        $('#seed').attr("disabled", true);
      }

      // radio buttons
      let clickedNode = document.getElementById("clicked-node-input").value;
      let radioValid = false;

      if (nodes.get(clickedNode) == null) {
        // clicked node was from a previous degree or trial maker id
        // or a node has not yet been clicked on
        $('#show-radio-outgoing').prop('disabled', true);
        $('#show-radio-incoming').prop('disabled', true);
        $('#show-radio-connected').prop('disabled', true);
        $('#show-radio-all').prop('checked', true);
        getContent();
      } else {
        $('#show-radio-outgoing').prop('disabled', false);
        $('#show-radio-incoming').prop('disabled', false);
        $('#show-radio-connected').prop('disabled', false);
        radioValid = true;
      }
      return radioValid;
    }

    function validateEnabledSettingsGetGraph(event) {
      // degree input color
      $("#degree").css("background-color", "");

      const currDegree = parseInt($('#degree').val());
      const max = parseInt($('#degree').attr('max'));
      const min = parseInt($('#degree').attr('min'));
      if (currDegree > max || currDegree < min)  {
        $("#degree").css("background-color", "#ffdddd");
      }

      // radio buttons
      let validRadioValue = $('#show-radio-all').val();
      let validClickedNode = validateEnabledSettings();
      if (validClickedNode) {
        validRadioValue = event;
      } else {
        clickedNodeUpdateRequest();
      }
      getGraph(false, validRadioValue, !validClickedNode);
    }

    function findNodeGetGraph(event) {
      $("#find-by").css("background-color", "");

      let validVertex = false;
      for (let nodeId in nodes.get({ returnType: "Object" })) {
        if (nodes.get(nodeId)['vertex_id'] == $('#find-by').val()) {
          if(nodeId[0] == 'n') {
            document.getElementById('clicked-node-input').value = nodeId;
            validVertex = true;
          }
        }
      }

      if (validVertex) {
        getGraph();
      }
      else {
        $("#find-by").css("background-color", "#ffdddd");
      }

    }

    function getGraph(fromClick=false, radioEvent="", updateClickedNode=false) {
      // get name value pairs for url
      let clickedNode = encodeURIComponent(document.getElementById("clicked-node-input").value);

      let showInfos = encodeURIComponent($('#show-infos').is(":checked"));
      let hideNonNeighbors = encodeURIComponent($('#show-outgoing').is(":checked"));

      let degree = encodeURIComponent($('#degree').val());
      let solver = encodeURIComponent($('#solver').val());
      let layout = encodeURIComponent($('#layout').val());
      let seed = encodeURIComponent($('#seed').val());

      let showOption = encodeURIComponent(radioEvent);
      if (typeof radioEvent != 'string'){ // use radio button if valid
        showOption = encodeURIComponent(radioEvent.target.value);
      }

      updateClickedNode = encodeURIComponent(updateClickedNode);

      // when called by a click, check for conditions where shouldn't reload
      if (fromClick && typeof fromClick != 'object') {
        // info was clicked on
        let isInfo = (clickedNode[0] === "i");
        if (isInfo) {
          console.log("Info: not reloading graph");
          setCookieRequest(clickedNode);
          return
        }

        // node was already clicked on
        let clickedCookie = (document.cookie
          .split('; ')
          .find((row) => row.startsWith('clicked-node='))
          ?.split('=')[1]);

        if (clickedNode === clickedCookie) {
          console.log("Double click: not reloading graph");
          setCookieRequest(clickedNode);
          return
        }

        // previously clicked node was an info and this is its origin
        if (clickedCookie[0] === "i") {
          let nodeData = nodes.get(clickedCookie);
          if (nodeData != null) {
            let originId = nodeData["origin_id"];
            if (originId != undefined) {
              let originNodeId = "n" + originId;
              if (clickedNode === originNodeId) {
                console.log("Info's origin: not reloading graph");
                setCookieRequest(clickedNode);
                return
              }
            }
          }
        }
    }

      // make url and send request
      let url = '/getgraph?clicked-node=' + clickedNode
                  + '&degree=' + degree +  '&layout=' + layout
                  + '&seed=' + seed + '&show-infos=' + showInfos
                  + '&show-option=' + showOption + '&solver=' + solver
                  + '&update-clicked-node=' + updateClickedNode;

      if (graphRequest != null) {
        graphRequest.abort();
      }

      graphRequest = $.ajax(
        {
          type:'GET',
          url: url,
          success: handleGraphResponse
        }
      )
    }

    let contentRequest = null;

    function getContent(fromClick=false) {
      // get relevant name-value pairs for url
      let exp = (document.cookie
        .split('; ')
        .find((row) => row.startsWith('exp='))
        ?.split('=')[1]);

      let clickedNode = document.getElementById("clicked-node-input").value;

      if (nodes.get(clickedNode) == null) {
        clickedNode = '';
      }

      clickedNode = encodeURIComponent(clickedNode);

      // avoid double clicks
      if (fromClick && typeof fromClick != 'object') {
        let clickedCookie = (document.cookie
          .split('; ')
          .find((row) => row.startsWith('clicked-node='))
          ?.split('=')[1]);

        if (clickedNode === clickedCookie) {
          setCookieRequest(clickedNode);
          return
        }
      }

      if (contentRequest != null) { contentRequest.abort(); }

      // make url and send request
      let url = '/getcontent?exp=' + exp + '&clicked-node=' + clickedNode;

      contentRequest = $.ajax(
        {
          type:'GET',
          url: url,
          success: handleContentResponse
        }
      )
    }

    function setup() {
      validateEnabledSettings();
      $('#degree').on('input', event => { validateEnabledSettingsGetGraph(event)});
      $('#trial-maker-id').on('change', event => { validateEnabledSettingsGetGraph(event) });
      $('#show-infos').on('change', getGraph);
      $('#show-radio-container').on('change', event => { validateEnabledSettingsGetGraph(event) });
      $('#solver').on('change', getGraph);
      $('#seed').on('input', getGraph);
      $('#layout').on('change', getGraph);
      $('#find-by').on('change', findNodeGetGraph);
    }
    $('document').ready(setup);
  </script>
  </div>
{% endblock %}