{% block stylesheets %}
  <script src="https://use.fontawesome.com/ffb1fe552d.js"></script>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link href="{{ url_for('static', filename='vis@4.17.0/dist/vis-network.min.css') }}" rel="stylesheet" type="text/css"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}" type="text/css">
{% endblock %}
{% block head %}
<head>
  <title>Network Visualization</title>
</head>
{% endblock %}
{% block body %}
<h1>Network Visualization</h1>
<div id="visualizer-wrapper" class="d-flex justify-content-between align-items-stretch">
  <aside id="sidebar">
    <button id="refresh" onclick="window.location.reload();">Refresh</button>
    <div id="settings-pane" class="sidebar-pane">
      <h2>Settings</h2>
      <div class="sub-pane">
        <h3>Degree</h3>
          <input type="number" id="degree" name="degree" min={{degree_min}} max={{degree_max}} placeholder={{degree_placeholder}}>
      </div>
      <div class="sub-pane">
        <h3>Trial Maker ID</h3>
        <form action="index" method="get">
          <select name="trial-maker-id" id="trial-maker-id" onchange=this.form.submit()>
            {% for trialmaker_option in trialmaker_options %}
              <option value={{trialmaker_option}}>{{trialmaker_option}}</option>
            {% endfor %}
          </select>
      </form>
      </div>
      <div class="sub-pane">
        <h3>Show Infos</h3>

        <input type="checkbox" id="show-infos" name="show-infos" {{show_infos_checked}}>
      </div>
      <div class="sub-pane">
        <h3>Graph Seed</h3>
        <input type="text" id="seed" name="seed">
      </div>
      <div class="sub-pane">
        <h3>PyVis Physics</h3>
        <select name="physics" id="physics">
          {% for physics_option in physics_options %}
            <option value={{physics_option}}>{{physics_option}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="sub-pane">
        <h3>Show:</h3>
        <div id="show-radio-container">
          <input type="radio" name="show-radio" id="show-radio-incoming" value="incoming"{% if "incoming" == show_nodes_option %}checked{% endif %}> <label for="show-radio-incoming">Incoming nodes only</label><br>

          <input type="radio" name="show-radio" id="show-radio-outgoing" value="outgoing"{% if "outgoing" == show_nodes_option %}checked{% endif %}> <label for="show-radio-outgoing">Outgoing nodes only</label><br>

          <input type="radio" name="show-radio" id="show-radio-connected" value="connected"{% if "connected" == show_nodes_option %}checked{% endif %}> <label for="show-radio-connected">Connected nodes only</label><br>

          <input type="radio" name="show-radio" id="show-radio-all" value="all"{% if "all" == show_nodes_option %}checked{% endif %}> <label for="show-radio-all">All nodes</label><br>
        </div>
        </div>
    </div>
    <div id="search-pane" class="sidebar-pane">
      <input type="number" placeholder="Find Node By Vertex ID" min={{find_min}} max={{find_max}}>
    </div>
  </aside>
  <main class="flex-fill">
    <section id="mynetwork">
      <h2>Graph</h2>
      <div id="graph"> {{ graph | safe }} </div>
    </section>
    <section id="details-pane">
      <h2>Details</h2>
      <div id="element-details">
        <div id="details-content">
          {%for para in content %}
            {{para}}<br>
          {% endfor %}
        </div>
          <input type="text" id="clicked-node-input" name="clicked-node" style="display:none">
      </div>
    </section>
  </main>
  <script src=
   "https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js">
    </script>
  <script>
    'use strict';

    function handleGraphResponse(response) {
      $('#mynetwork').html(response);
      validateRadio();
    }

    function handleContentResponse(response) {
      $('#details-content').html(response);
    }

    let cookieRequest = null;

    function setCookieRequest(clickedNode) {

      if (cookieRequest != null ) { cookieRequest.abort(); }

      cookieRequest = $.ajax(
          {
            type:'GET',
            url: '/setclickednode?id=' + clickedNode
          }
        )
    }

    let graphRequest = null;

    function validateRadio() {
      let clickedNode = document.getElementById("clicked-node-input").value;
      let radioValid = false;

      // clicked node was from a previous degree or trial maker id
      // or a node has not yet been clicked on
      if (nodes.get(clickedNode) == null) {
        $('#clicked-node-input').prop('value', '');
        $('#show-radio-outgoing').prop('disabled', true);
        $('#show-radio-incoming').prop('disabled', true);
        $('#show-radio-connected').prop('disabled', true);
        $('#show-radio-all').prop('checked', true);

        getContent();
      } else {
        $('#show-radio-outgoing').prop('disabled', false);
        $('#show-radio-incoming').prop('disabled', false);
        $('#show-radio-connected').prop('disabled', false);
        radioValid = true;
      }

      return radioValid;
    }

    function validateRadioGetGraph(event) {
      let validRadioValue = $('#show-radio-all').val();
      if (validateRadio()) {
        validRadioValue = event;
      }
      getGraph(false, validRadioValue);
    }

    function getGraph(from_click=false, radioEvent="all") {
      // get name value pairs for url
      let clickedNode = encodeURIComponent(document.getElementById("clicked-node-input").value);
      let degree = encodeURIComponent($('#degree').val());
      let showInfos = encodeURIComponent($('#show-infos').is(":checked"));
      let hideNonNeighbors = encodeURIComponent($('#show-outgoing').is(":checked"));

      let showOption = encodeURIComponent(radioEvent);
      if (typeof radioEvent != 'string'){ // use radio button if valid
        showOption = encodeURIComponent(radioEvent.target.value);
      }

      // when called by a click, check for conditions where shouldn't reload
      if (from_click && typeof from_click != 'object') {
        // info was clicked on
        let is_info = (clickedNode[0] === "i");
        if (is_info) {
          console.log("Info: not reloading graph");
          setCookieRequest(clickedNode);
          return
        }

        // node was already clicked on
        let clickedCookie = (document.cookie
          .split('; ')
          .find((row) => row.startsWith('clicked-node='))
          ?.split('=')[1]);

        if (clickedNode === clickedCookie) {
          console.log("Double click: not reloading graph");
          setCookieRequest(clickedNode);
          return
        }

        // previously clicked node was an info and this is its origin
        if (clickedCookie[0] === "i") {
          let nodeData = nodes.get(clickedCookie);
          if (nodeData != null) {
            let originId = nodeData["origin_id"];
            if (originId != undefined) {
              let originNodeId = "n" + originId;
              if (clickedNode === originNodeId) {
                console.log("Info's origin: not reloading graph");
                setCookieRequest(clickedNode);
                return
              }
            }
          }
        }
    }

      // make url and send request
      let url = '/getgraph?degree=' + degree + '&show-infos=' + showInfos + '&clicked-node=' + clickedNode + '&show-option=' + showOption;

      if (graphRequest != null) {
        graphRequest.abort();
      }

      graphRequest = $.ajax(
        {
          type:'GET',
          url: url,
          success: handleGraphResponse
        }
      )
    }

    let contentRequest = null;

    function getContent(from_click=false) {
      // get relevant name-value pairs for url
      let exp = (document.cookie
        .split('; ')
        .find((row) => row.startsWith('exp='))
        ?.split('=')[1]);

      let clickedNode = document.getElementById("clicked-node-input").value;

      if (nodes.get(clickedNode) == null) {
        clickedNode = '';
      }

      clickedNode = encodeURIComponent(clickedNode);

      // avoid double clicks
      if (from_click && typeof from_click != 'object') {
        let clickedCookie = (document.cookie
          .split('; ')
          .find((row) => row.startsWith('clicked-node='))
          ?.split('=')[1]);

        if (clickedNode === clickedCookie) {
          setCookieRequest(clickedNode);
          return
        }
      }

      if (contentRequest != null) { contentRequest.abort(); }

      // make url and send request
      let url = '/getcontent?exp=' + exp + '&clicked-node=' + clickedNode;

      contentRequest = $.ajax(
        {
          type:'GET',
          url: url,
          success: handleContentResponse
        }
      )

    }

    function setup() {
      validateRadio();
      $('#degree').on('input', event => { validateRadioGetGraph(event)});
      $('#trial-maker-id').on('change', event => { validateRadioGetGraph(event) });
      $('#show-infos').on('change', getGraph);
      // $('#clicked-node-input').on('input', validateRadio);
      $('#show-radio-container').on('change', event => { validateRadioGetGraph(event) });
    }
    $('document').ready(setup);
  </script>
  </div>
{% endblock %}